body {
  font-family: sans-serif;
}

#doSomething {
  margin: 25px auto;
  display: block;
}

#puppy {
  height: 190px;
  width: 190px;
  background-color: black;
  border-radius: 50%;
  margin: 25px auto;
  transition: background 500ms;
}